html, body {
	width: 100%;
}

p, h1, a, li {
	color: #3D668F;
	font-family: arial, helvetica, sans-serif;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div.banner {
	width: 90%;
	background-color: #3D668F;
	height: 50px;
	margin: 0 auto 10px auto;
	padding: 0;
	border-radius: 5px;
	}
	div.banner img {
		height: 40px;
		margin: 5px;
		float: left;
	}
	div.banner h1 {
		color: #FFFFFF;
		margin: 5px;
		padding: 0;
		float: left;
	}
	div.banner a:hover {
		text-decoration: none;
	}
	div.banner input {
		width: 300px;
		float: left;
		background-color: #FFFFFF;
		border: 1px solid #666666;
		height: 30px;
		font-size: 15px;
		display: block;
		clear: none;
		margin: 10px;
		padding: 0;
	}