body {
	width: 500px;
	overflow: hidden;
	overflow-y: scroll;
}

div.wrapper {
	width: 97%;
}

p, h1, a, li {
	color: #3D668F;
	font-family: arial, helvetica, sans-serif;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div.banner {
	width: 100%;
	background-color: #3D668F;
	height: 50px;
	margin: 0 auto 10px auto;
	padding: 0;
	border-radius: 5px;
	}
	div.banner img {
		height: 40px;
		margin: 5px;
		float: left;
	}
	div.banner h1 {
		color: #FFFFFF;
		margin: 5px;
		padding: 0;
		float: left;
	}
	div.banner a:hover {
		text-decoration: none;
	}

ul {
	list-style-type: circle;
	margin: 0;
	padding: 10px 0 0 20px;
	width: 90%;
	}
	ul li {
		margin: 10px 0 0 0;
		width: 100%;
		padding: 0;
	}

div#createFiddle, div#viewFiddle, div#configure {
	display: none;
}

textarea {
	width: 100%;
	height: 200px;
}

textarea.small {
	height: 30px;
}

input[type='text'] {
	width: 100%;
	background-color: #FFFFFF;
	border: 1px solid #666666;
	height: 30px;
	font-size: 15px;
	display: block;
	clear: none;
	margin: 0;
	padding: 0;
}